<div id="vue-datepicker" v-bind:style="{left: x, top: y}" v-if="show">
	<div class="calendar-date-view">
		<div class="calendar-title">
			<a href="javascript:void(0)" class="arrow-left" v-on:click="prevMonth(current.month)"><-</a>
			{{current.year}}-{{current.month}}-{{current.date}}
			<a href="javascript:void(0)" class="arrow-right" v-on:click="nextMonth(current.month)">-></a>
		</div>
		<div class="calendar-week">
			<div class="calendar-item">Sun</div>
			<div class="calendar-item">Mon</div>
			<div class="calendar-item">Tue</div>
			<div class="calendar-item">Wed</div>
			<div class="calendar-item">Thu</div>
			<div class="calendar-item">Fri</div>
			<div class="calendar-item">Sat</div>
		</div>
		<div class="calendar-panel">
			<div class="calendar-item disabled" v-for="dateItem in beforeDateList" track-by="$index">{{dateItem}}</div>
			<div class="calendar-item" v-for="dateItem in dateList" v-bind:class="{'active' : dateItem.checked}" v-on:click="checkDate(dateItem)" track-by="$index">{{dateItem.date}}</div>
			<div class="calendar-item disabled" v-for="dateItem in afterDateList" track-by="$index">{{dateItem}}</div>
		</div>
		<div class="calendar-footer">
			<a href="javascript:void(0)" v-on:click="cancel">Cancel</a>
			<a href="javascript:void(0)" v-on:click="confirmDate">Confirm</a>
		</div>
	</div>
	<div class="clendar-month-view" v-show="view.monthView"></div>
	<div class="clendar-year-view" v-show="view.yearView"></div>
</div>
<style type="text/css">
	#vue-datepicker {
		width:295px;
		position: fixed;
	}
	.calendar-title {
		display: flex;
		justify-content: space-between;
		height:50px;
		line-height: 50px;
		border:1px solid #000;
	}
	.calendar-title a {
		display:inline-flex;
	}
	.calendar-footer {
		display: flex;
		justify-content: space-between;
		height:40px;
		line-height: 40px;
		border:1px solid #000;
	}
	.calendar-week {
		margin:0 auto;
		display: flex;
	}
	.calendar-panel {
		margin:0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	.calendar-item{
		width:41px;
		height:50px;
		border-right:1px solid #000;
		border-bottom:1px solid #000;
		text-align: center;
		line-height: 50px;
	}
	.calendar-item:nth-child(7n+1){
		border-left: 1px solid #000;
	}
	.calendar-panel .calendar-item.active {
		color:#fff;
		background-color: #5e2c78;
	}
	.calendar-panel .calendar-item {
		cursor: pointer;
	}
	.calendar-panel .calendar-item.disabled {
		cursor: default;
		background: #d7d7d7;
	}
</style>